<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.van.mapper.UserMapper">

    <resultMap id="myUser" type="user">
        <result column="userPassword" property="password"/>
    </resultMap>

    <select id="getUser" resultMap="myUser">
        select * from test.user where id = ${id}
    </select>

    <select id="getUserByName" resultMap="myUser">
        select * from test.user where userName = '${name}'
    </select>

</mapper>